.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: red;
  min-height: 100vh;
  font-size: 2rem;
}

.navBar {
  background: green;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.navBar span {
  margin: 16px;
  border: 1px solid white;
}
